<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h4>Discover | Create | Colloberate</h4>
  <h1>Wiki Topics</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3><strong>Free Membership</strong></h3>
          <p>Discover and create and collaborate on unlimited public wikis</p>
          <p><%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><strong>Upgrade to Premium</strong></h3>
        <p>Create private wikis for all your projects and invite collaborators to contribute their ideas.</p>
        <p><%= link_to "Upgrade Now", new_charge_path, :class => "btn btn-warning" %></p>
      </div>
    </div>
  </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Private</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><strong><%= wiki.title %></strong></td>
        <td><%= wiki.body %></td>
        <td>
          <% if wiki.private? %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <% nil %>
          <% end %>
        </td>
        <td><%= wiki.user.username %></td>
        <td><%= link_to 'Show', wiki %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
          <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Wiki', new_wiki_path %>
<% end %>
